# Ignore everything by default
*

# Except the following directories and files
!public/
!public/images/
!public/images/*.jpg
!public/images/*.png
!public/css/
!public/css/*.css
!src/
!*.html
!*.css
!*.js
!*.jpg
!*.jpeg
!*.png

# include views/, views/layout, and all .handlebars files in them
!views/
!views/layouts/
!views/**/*.handlebars

# include package.json and package-lock.json
!package.json
!package-lock.json

# Ignore node_modules directory
node_modules/

# Ignore my scratch work
scratch/

# Ignore my notes
notes/

# Ignore my .gitignore file
.gitignore