<!--
// File: main.handlebars
// Description: 
//  This file is used to create the main layout
//  for the site
// Author: Jamey Bryce
// Date Created: 10/06/2023
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta viewport="width=device-width, initial-scale=1.0">
        <meta name="description" content="Jamey Bryce's Portfolio Website">
        <meta name="author" content="Jamey Bryce">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="sticky-top">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer class="sticky-bottom">
            Page Accessed @
            <br>
            {{time}}
            <br>
            &copy; 2023 JameyDev
        </footer>
    </body>
</html>
