<div class="container">
    <div class="row">
        <section id="welcome">
            <h1>Home</h1>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Exercitationem reiciendis ad eligendi obcaecati ipsa, 
                qui adipisci fugit minus magnam a cupiditate odit culpa 
                corrupti odio quidem nesciunt rerum officia. Et?
            </p>
        </section>
    </div>
</div>