<!--
// File: home.handlebars
// Description: 
//  This file is used to render
//  the home page
// Author: Jamey Bryce
// Date Created: 10/06/2023
-->
<div class="container">
    <div class="row">
        <h1>Welcome to <em>jybryce.dev</em>...</h1>
        <section id="welcome" class="slider">
            <div class="card">
                <div class="card-header">
                    <h2>What is this site?</h2>
                </div>
                <div class="card-body">
                    <p>
                        This site is a portfolio site for Jamey Bryce. 
                        It is used to showcase his skills and abilities 
                        as a web developer.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Who is this site for?</h2>
                </div>
                <div class="card-body">
                    <p>
                        Anyone interested in web development,
                        as well as anyone interested in hiring
                        Jamey Bryce as a web developer or looking
                        to collaborate with him on a project.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>What is this site built with?</h2>
                </div>
                <div class="card-body">
                    <p>
                        This site is built with Node.js, Express, and Handlebars. 
                        It uses MongoDB for its database.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <script src="/js/slider.js"></script>
</div>
